@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  .container {
    @apply xl:max-w-[1364px] !important;
  }

  .container {
    @apply px-4 mx-auto;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

}

@layer components {

  .arrow-Style .slick-arrow {
    @apply p-5 md:p-7 m-0 bg-[#333333] text-[0px] absolute top-[55%] md:top-[40%] translate-y-[-50%] z-10;
  }
  .arrow-Style .slick-next {
    @apply -right-4 md:right-1 2xl:right-[-100px];
  }
  .arrow-Style .slick-next:before {
    @apply bg-[url('/assets/images/arrow-right.webp')] bg-no-repeat bg-center content-[''] absolute z-10 w-3 h-5 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    background-size: 12px;
  }
  .arrow-Style .slick-prev {
    @apply -left-4 md:left-1 2xl:left-[-100px];
  }
  .arrow-Style .slick-prev:before {
    @apply bg-[url('/assets/images/arrow-left.webp')] bg-no-repeat bg-center content-[''] absolute z-10 w-3 h-5 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    background-size: 12px;
  }
  .slider-item {
    @apply flex items-center md:flex-row flex-col gap-8 justify-end !important;
  }
  .btn {
    @apply border-primary border-[3px] border-solid px-4 py-3 inline-block text-[20px] text-white font-semibold relative overflow-hidden ;
  }
  .btn:hover {
    @apply bg-primary;
  }
  .btn2 {
    @apply text-lg font-medium text-white px-[38px] py-[13.5px] bg-primary inline-block leading-none  border-primary border-[3px] border-solid;
  }
  .btn.style2 {
    @apply border-primary border-[3px] border-solid px-[38px] leading-none py-[13.5px] inline-block text-lg text-white font-semibold relative overflow-hidden ;
  }
  .btn2:hover {
    @apply bg-transparent;
  }

  .slick-dots {
    @apply hidden md:flex flex-row items-center justify-center list-none gap-4 mt-10 absolute md:relative opacity-0 md:opacity-100;
  }
  .slick-dots button {
    @apply text-[0px] p-[6px] rounded-full border-white border-[3px] border-solid bg-transparent;
  }
  .slick-dots .slick-active button {
    @apply bg-white;
  }
  .navTabs a {
    @apply md:text-[28px] text-[20px] text-white font-normal leading-tight;
  }
  .navTabs li {
    @apply relative;
  }
  .navTabs li::before {
    @apply content-[''] absolute h-[2px] w-0 bg-primary -bottom-1 transition-all duration-300 ease-linear;
  }
  .navTabs li:hover:before {
    @apply w-full;
  }
  .arrivalsWrapper a {
    @apply relative overflow-hidden;
  }
  .arrivalsWrapper a img {
    @apply transition-all duration-200 ease-in hover:scale-105;
  }
  .arrivalsWrapper .text-wrapper {
    @apply absolute left-[10%] bottom-[5%];
  }
  .rowGap {
    row-gap: 40px !important;
  }

  /* Nav */

  .menu > li.categories {
    @apply md:w-[200px] lg:w-[292px] relative;
  }

  .menu > li {
    @apply relative;
  }

  .categories-nav {
    @apply bg-primary border-x-2 border-[#414141] text-center justify-center cursor-pointer;
  }

  .categories-nav .categories > ul.sub-menu{
    @apply -left-[2px] -right-[2px];
  }

  .menu > li > a,
  .categories-nav li div {
    @apply text-white  md:text-base lg:text-xl xl:text-2xl font-bold py-3 flex items-center justify-center gap-1;
  }

  .menu .sub-menu {
    @apply opacity-0 invisible transition-all ease-in-out delay-150 absolute z-10 flex flex-col grid-cols-1 bg-black top-[50px] lg:top-[54px] xl:top-[58px]
  }

  .menu-hover > li:hover .sub-menu {
    @apply visible opacity-100;
  }

  .categories.active > .sub-menu {
    @apply visible opacity-100;
  }


  /* Sub nav - Level 1 */
  .menu .sub-menu li {
    @apply relative;
  }

  .menu .sub-menu li a {
    @apply text-white md:text-base lg:text-xl xl:text-2xl font-bold py-1 pl-6 pr-[52px] border-2 border-[#414141] border-t-0 flex items-center bg-transparent whitespace-nowrap  md:min-h-[42px] lg:min-h-[62px];
  }

  .categories > .sub-menu > li > a {
    @apply pl-2 lg:pl-6;
  }

  .sub-menu i {
    @apply absolute right-6 pl-7;
  }

  .sub-menu img {
    @apply mr-4 w-7 lg:w-auto;
  }

  .sub-menu li a:hover {
    @apply bg-primary;
  }

  /* Sub Nav Level 2 */

  .menu > li > .sub-menu > li .sub-menu {
    @apply right-0.5 invisible opacity-0 border-t-2 border-[#414141] transition-all ease-in-out delay-150 translate-x-full absolute z-10 grid grid-cols-1 -top-[2px];
  }

  .menu > li .sub-menu li:hover > .sub-menu {
    @apply visible opacity-100;
  }


  /* Mobile Nav */
  header.active .humburger {
    @apply relative transition-all duration-300 ease-linear;
  }

  
/* Shopping Cart */

  .shopping-cart {
    @apply fixed top-0 -left-full right-0 w-full transition-all duration-300 z-10 overflow-auto h-[100vh] 
  }

  body.cart-active .shopping-cart {
    @apply left-0;
  }


  /******  New CSS *******/
  .banner-slider-wrapper{
    background-image:url('/assets/images/black-wood.webp');
    @apply bg-no-repeat bg-cover;
  }
}
